<!DOCTYPE html>
<html lang="en">
<head>
    <title>Salary Prediction</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body background="/static/images/download.jpg">
    <div class = "input form">
        <form action="{{url_for('predict')}}" method="post" id="input head">
            <h1 id ="heading">Salary Prediction Form</h1>
            <h3 id = "input">Enter your experience in years</h3>
            <input type="text" name="experience" placeholder="Experience in Years">
            <br>
            <br>
            <button id="submit" type="submit">Submit</button>
        </form>
        </form>
    </div>
    
</body>
</html>